<?xml version="1.0" encoding="utf-8" ?>
<!--SearchSuitableProfilesLinkedInService-->
<configuration>
  <appSettings>
    <add key="ServerURL" value="http://scraperlincedinserver.com/" />
    <add key="APIKey" value="9bb7fd5d-aa61-4350-8433-ad1624bbc1bd" />
    <add key="SEARCH_PROFILES_BATCH_SIZE" value="50" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>